{% extends "website/layout.html" %}

{% block title %}
  {% if file.path == readme.file.path %}
    {{ config.title | d("DEFAULT_TITLE" | t, true) }}
  {% else %}
    {{ page.title }} · {{ super() }}
  {% endif %}
{% endblock %}

{% block description %}{{ page.description }}{% endblock %}

{% block page %}

  <!-- Readme -->
  {% if file.path == readme.file.path %}
    <div class="row">
    {% for part in summary.parts %}
      <div class="col-4">
        <h4>{{ part.title }}</h4>

        <ul class="list-unstyled">
          {% for article in part.articles %}
            {% if article.path != readme.file.path %}
              <li>
                <a href="{{ article.path|resolveFile }}">
                  <i class="fa fa-file-o" aria-hidden="true"></i> {{ article.title }}
                </a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}

  <!-- Other pages -->
  {% else %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ basePath }}">{{ "FAQ_TITLE" | t }}</a>
      </li>

      {% for part in summary.parts %}
        {% for article in part.articles %}
          {% if article.path == file.path and part.title %}
            <li class="breadcrumb-item">
              <a href="{{ basePath }}">{{ part.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      {% endfor %}

      <li class="breadcrumb-item active">{{ page.title }}</li>
    </ol>

    <div class="faq-page">
      {{ page.content | safe }}
    </div>

    {% block faq_page_related %}
      {% if page.related.length > 0 %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{ "FAQ_RELATED_ARTICLES"|t }}</h3>
          </div>
          <div class="list-group">
            {% for related in page.related %}
              {% set relatedArticle = getArticleByPath(related) %}
              {% if relatedArticle %}
              <a href="{{ relatedArticle.path|resolveFile }}" class="list-group-item">{{ relatedArticle.title }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endblock %}

  {% endif %}
{% endblock %}
